@model IEnumerable<PeaceOfMind.Models.Job.JobListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
        </td>
    </tr>
}

</table>
