@model PeaceOfMind.Models.Pet.PetDetail

@{
    ViewBag.Title = "Delete";
}

<div class="row jobContainer">
    <div class="col-md-2 sidebar">
        <ul class="nav">
            <li>@Html.ActionLink("New Pet", "Create")</li>
            <li>@Html.ActionLink("All Pets", "Index")</li>
            <li><a href="#">Search</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <h3 class="text-center">Are you sure?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeOfPet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfPet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
    </div>
