@model IEnumerable<PeaceOfMind.Models.Pet.PetListItem>

@{
    ViewBag.Title = "Index";
}

<div class="row jobContainer">
    <div class="col-md-2 sidebar">
        <ul class="nav">
            <li>@Html.ActionLink("New Pet", "Create")</li>
            <li><a href="#">Search</a></li>
        </ul>
    </div>
    <div class="col-md-10 text-center" style="padding-left: 5em">
        <h2>All Jobs</h2>

        <hr />

        <div class="row">
            <div class="col-xs-3">
                <p>Name</p>
            </div>
            <div class="col-xs-3" style="margin-right:20px">
                <p>Type</p>
            </div>
            <div class="col-xs-3">
                <p>Owner</p>
            </div>
        </div>

        <hr />

        @foreach (var item in Model)
        {
            <div class="row my-table-row">
                <div class="col-xs-3">
                    <p>@item.Name</p>
                </div>
                <div class="col-xs-3" style="margin-right:20px">
                    <p>@item.TypeOfPet</p>
                </div>
                <div class="col-xs-3">
                    <p>@item.Owner</p>
                </div>
                @Html.ActionLink(" ", "Details", new { id = item.PetId })
            </div>
        }

    </div>
</div>
